{% extends "layouts/box.html" %}

{% block content %}
    <h1 class="text-2xl font-bold text-center mb-6">Reset Password</h1>

    <p class="text-gray-600 mb-6 text-center">
        Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="w-full py-2 px-4 glass-button bg-gradient-to-r from-primary to-accent text-white
        hover:from-primary-hover hover:to-accent">
            Reset Password
        </button>
    </form>

    <div class="text-center mt-6">
        <p class="text-sm text-gray-600">
            Remember your password? <a href="{% url 'account_login' %}" class="text-primary font-semibold">Sign In</a>
        </p>
    </div>
{% endblock %}
