DJANGO_SECRET_KEY=dummy_secret_key_1234567890
DJANGO_DEBUG=1
ENVIRONMENT=development

POSTGRES_LOCALLY=False
DATABASE_URL=postgres://dummyuser:dummypassword@localhost:5432/dummydb

GOOGLE_CLIENT_ID=dummy-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=dummy-google-client-secret

AWS_ACCESS_KEY_ID=DUMMYAWSACCESSKEYID
AWS_SECRET_ACCESS_KEY=DUMMYAWSSECRETACCESSKEY
AWS_STORAGE_BUCKET_NAME=dummy-bucket
AWS_S3_ENDPOINT_URL=https://dummy-s3-endpoint.com

EMAIL_HOST_USER=dummyuser@example.com
EMAIL_PASSWORD=dummyemailpassword
DEFAULT_FROM_EMAIL=noreply.dummy@example.com
EMAIL_SUBJECT_PREFIX=[DUMMY PROJECT]